*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h2{
    font-size: 1.2em;
    text-align: center;
}
    
#aboutUsIntro{
    border-radius: 10px;
    background-color: rgba(169, 195, 214, 0.3);
    padding:1rem;
    margin:1rem;
}

#contactFormAboutus{
    border-radius: 10px;
    background-color: rgba(169, 195, 214, 0.3);
    padding:1rem;
    margin:1rem;
}

textArea{
    width:50%;
    margin-left:25%; 
}

#sendButton{
    cursor: pointer;
}

input{
    margin-bottom: 1rem;
}

#aboutUsCardsContainer{
    display: flex;
    flex-direction: column ;
    width: 50vw;
    margin-left: 25vw;   
}

.cardsContainer{
    width: 94vw;
    margin-left: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 3%; */
    /* min-width:670px; */
    /* height: 350px; */
}

.card{
    position: relative;
    width:150px;
    height: 168px;
    margin: 10px;
}

.polaroidFrame{
    position: absolute;
    width:100%;
}

.profilePic{
    position: absolute;
    width: 85%;
    height:76%;
    z-index: 1;
    margin-left:11px;
    margin-top:11px;
}

.cardName{
    position: absolute;
    margin-top:140px;
    margin-left:55px;
}

/*
.cardFlex
{
    width:17vw;
    height: 350px;
    width: 100%;
}

.inCardFlex{
    width:100%;
}
*/

@media screen and (min-width:600px) {
    #aboutUsCardsContainer{
        flex-direction: row;
        justify-content: space-between;
        width: 94vw;
        margin-left: 3vw;
      }

      h2{
        text-align: left;
        padding-left: 2rem;
    }
}