h2 {
    width: 95%;
    background-color: #7d191b;
    border: solid 1px #7d191b;
    font-size: large;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    padding-left: 24px;
    margin: 24px auto;
    text-transform: uppercase;
    max-width: 900px;
}

a{
    text-decoration: none;
}

.contentInGreyBox{
    border-radius: 10px;
    background-color: rgba(169, 195, 214, 0.3);
    padding: 1rem;
    margin : 1rem;
    max-width: 900px;
}

#aboutUsIntro{
    text-align: justify;
}

main input{
    opacity: initial;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

textarea{
    width:100%;
    margin-top: 0.5rem;
    max-width: 700px;
    /* A FAIRE : max-width desktop mais gardé centré*/
    /*  margin : auto; */
}

#submitButton{
    /* A FAIRE : max-width desktop mais gardé centré*/
    /* max-width: 300px; */
    cursor: pointer;
    width:100%;
}

#cardsContainer{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.card{
    position: relative;
    width:150px;
    height: 168px;
}

.polaroidFrame{
    position: absolute;
    width:100%;
}

.profilePic{
    position: absolute;
    width: 85%;
    height:76%;
    z-index: 1;
    margin-left:11px;
    margin-top:11px;
}

.cardName{
    position: absolute;
    margin-top:140px;
    margin-left:55px;
}


@media screen and (min-width:1024px) {

    main{
        margin: 0 auto;
    }

    #cardsContainer{
        flex-direction: row;
        justify-content: space-between;
        width: 94vw;
        max-width: 900px;
    }

    h2 {
        margin: 52px auto;
        width: 85%;
        cursor: default;
    }

    .contentInGreyBox{
        width: 85%;
        margin: 52px auto;
        padding :25px;
    }

}