@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #202020;
  /*
  --primary-color: #212122;
  --secondary-color: #fff;
*/
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #edf2fc;
  background: #7d191b;
}

.btn-primary:hover {
  background: #461415;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ */

.logo {
  width: 50px;
}

.navbar input,
.navbar .hamburger-lines {
  color: #7d191b;
}

input {
  opacity: 0;
}

nav {
  background-color: #7d191b;
}

.navbar-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

i {
  padding: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #edf2fc;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #a17878;
  transition: color 0.3s ease-in-out;
}

#icon {
  width: 25px;
  cursor: pointer;
  color: var(--primary-color);
}

nav ul {
  flex: 1;
  text-align: right;
}

/* ............//// Showcase ////......... */

.showcase-area {
  height: 50vh;
  background: linear-gradient(
      rgba(133, 133, 133, 0.144),
      rgba(255, 255, 255, 0.336)
    ),
    url(assets/photo-accueil.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.imgcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}

/* ......//tokyo//...... */

#tokyo {
  padding: 50px 0;
  background: var(--primary-color);
}

.tokyo-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#tokyo p {
  font-size: 1.2rem;
  text-align: justify;
}

#tokyo .small {
  font-size: 3rem;
  font-weight: 600;
}

.tokyo-img {
  flex: 1 1 400px;
  padding: 24px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.tokyo-text {
  flex: 1 1 400px;
  padding: 24px;
  margin: auto;
  color: var(--third-color);
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

.tokyo-p {
  font-size: 32px;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.tokyo-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

/* ..........//// Activity ///........... */

#activity {
  padding: 5rem 0 10rem 0;
  background-color: var(--primary-color);
}

#activity h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.activity-container {
  display: flex;
  justify-content: space-between;
}

.activity-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: var(--third-color);
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  opacity: 0.95;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

/* ......../ media query /.......... */

@media (max-width: 894px) {
  .logo {
    position: absolute;
    width: 60px;
    right: 15px;
    top: 6px;
  }

  #icon {
    display: none;
  }

  .navbar {
    opacity: 1;
  }

  .navbar-container input[type='checkbox'],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 16px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: flex;
    height: 24px;
    width: 35px;
    position: absolute;
    top: 24px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #edf2fc;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #7d191b;
    height: 57vh;
    max-width: 400px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #7d191b;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  nav ul {
    text-align: left;
  }

  .navbar-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ showcase /......... */

  h1 {
    font-size: 3rem;
  }

  /* ......./ activity /......... */

  .activity-container {
    flex-direction: column;
    align-items: stretch;
  }

  .activity-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .activity-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .activity-container img {
    margin: auto;
  }

  .activity-item {
    flex-direction: column;
    z-index: -99999;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
