/* ............/navbar desktop/............ */

.logo {
  width: 50px;
}

.navbar input,
.navbar .hamburger-lines {
  color: #7d191b;
}

input {
  opacity: 0;
}

.navbar {
  background-color: #7d191b;
  z-index: 6;
}

.navbar-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

i {
  padding: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #edf2fc;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #a17878;
  transition: color 0.3s ease-in-out;
}

#icon {
  width: 30px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

nav ul {
  flex: 1;
  text-align: right;
}


/* ......../ media query /.......... */

@media (max-width: 894px) {
  .logo {
    position: absolute;
    width: 60px;
    right: 15px;
    top: 6px;
  }

  #icon {
    padding-left: 10px;
    width: 40px;
  }

  .navbar {
    opacity: 1;
  }

  .navbar-container input[type='checkbox'],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 16px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: flex;
    height: 24px;
    width: 35px;
    position: absolute;
    top: 24px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #edf2fc;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    top: 60px;
    z-index: 7;
    position: absolute;
    background: #7d191b;
    height: 150vh;
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    padding-left: 50px;
    padding-right: 80px;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 2px 0px 5px 0px #111111;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    margin-right: px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  nav ul {
    text-align: left;
  }

  .navbar-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  @media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }