.navlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#logoburger {
    width : 15%;
    height: 13%;
}

#logojapan {
    width : 24%;
    height: 18%;
    margin-left: 2%;
}

h2 {
    font-size: 1.2em;
    font-weight:normal;
    padding: 2%;
}

.title {
    padding: 4%;
}

.texte {
    padding: 4%;
}

.img {
    margin: 5% 0;
}

.navlogo2 {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

#logoburger2 {
    width : 15%;
    height: 13%;
    margin : 2%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5rem;
    padding-top: 20%;
    padding-bottom: 20%;
}



.container2 {
    background-color: A9C3D6;
}

h3 {
    font-weight: normal;
    font-size: large;
}