.navlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#logoburger {
    width : 15%;
    height: 13%;
}

#logojapan {
    width : 24%;
    height: 18%;
    margin-left: 2%;
}

h2 {
    font-size: 1.2em;
    font-weight:normal;
    padding: 2%;
}

.title {
    padding: 4%;
}

.texte {
    padding: 4%;
}

#beforeleaving {
    font-size: 1.3em;
}

.img {
    margin: 5% 0;
}

.todo-container {
    background-color: rgba(169,195,214,0.30000001192092896);
    padding: 5% 5%;
    margin: 13% 20%;
    border-radius: 4%; 
    text-align: center;
    justify-content: space-between;
}


h3 {
    font-weight: normal;
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 5%;
}

span {
    font-size:initial;
}

.done {
    text-decoration: line-through;
  }
  
button {
    cursor: pointer;
  }

.special {
    height: 100vh;
    background-image: linear-gradient(to top, #818080, #fcfbfb);
    
}


.navlogo2 {
    display: flex;
    justify-content: flex-end;
    padding: 15px; 
    margin : 2%;
}

#logoburger2 {
    width : 15%;
    height: 13%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2.6em;
    padding-top: 18%;
    padding-bottom: 10%;
    font-family: "popins", sans-serif;
}

ul {
    list-style-type: none;
    padding: ;
  }

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    color: #e9e9e9;
    font-size: 1.2em;
  }







