* {
    background-color: rgba(218, 226, 228, 0.25);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "chinchan";
    src: url("assets/ChinChan.ttf") format("truetype");
} 

h1 {
    font-family: "chinchan";
    font-size: 24px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #7D191B;
}

body {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2C2C2E;
}

.photo-lieu1 {
    width: 100%;
}